h1,h2,h3{
    color: red;
}

p{
    color: darkgreen;
}

#hero{
    background-color: rgb(6, 175, 227);
    text-align: center;
    padding: 30px 30px;
}

#hero button{
    display: block;
    margin: 20px auto;
}

section{
    padding: 40px;
    margin: 20px 0;
}

button{
    background-color: darkblue;
    color: white;
    padding: 12px 24px;
    transition: background-color 0.3 ease, transform 0.3s ease;
}

button:hover{
    background-color: navy;
    transform: scale(1.05);
    
}

button:active{
    transform: scale(0.98);
}

input:focus{
    border: 2px solid blue;
    outline: none;
}

#features{
    display: flex;
    justify-content: space-around;              /* space between items */
    align-items: stretch;                       /* same height */
    gap: 20px;                                  /* gap between article */
}

#features article{
    flex: 1;                                    /* each article takes equal width */
    padding: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
}

@media (max-width: 786px){
    #features{
        flex-direction: column;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.hero-text{
    animation: fadeIn 1s ease forwards;
}
