h1,h2,h3{
    color: red;
}

p{
    color: darkgreen;
}

#hero{
    background-color: rgb(6, 175, 227);
    text-align: center;
    padding: 30px 30px;
}

#hero button{
    display: block;
    margin: 20px auto;
}

section{
    padding: 40px;
    margin: 20px 0;
}

button:hover{
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

button:active{
    transform: scale(0.98);
}

input:focus{
    border: 2px solid blue;
    outline: none;
}